@import './components/common/TextEditor.css';
.main {
  height: calc(100vh - 137px);
}

.gradient,
.gradient-2 {
  transform-origin: top left;
  position: fixed;
  opacity: 0.15;
  width: 30%;
  height: 20rem;
  z-index: 0;
  background-image: linear-gradient(
    to bottom,
    #f65db4,
    #e270cc,
    #cb81dd,
    #b290e7,
    #9c9ceb,
    #87a9f4,
    #73b4f8,
    #63bff9,
    #44d0fe,
    #2ce0fc,
    #3aeef4,
    #5ffbe6
  );
}
.header {
  z-index: 10;
}
.text-editor {
  z-index: 1;
}
.gradient {
  z-index: 0;
  top: 0rem;
  width: 30%;
  height: 400px;
  right: -20%;
  opacity: 0.15;
  border-radius: 100%;
}
.gradient-2 {
  z-index: 0;
  bottom: 10%;
  left: 20%;
  border-radius: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(
    to bottom,
    #25d469,
    #8cc541,
    #bdb435,
    #dda146,
    #ec9162,
    #f28874,
    #f28288,
    #eb809c,
    #ea7ead,
    #e47ebf,
    #d981d2,
    #c886e5
  );
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Toastify__toast-body {
  font-family: 'Pretendard-Regular';
}
